#bunny-jo{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#bunny-rachell-002{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#bunny-rachell-001{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#bunny-unrecognised{
	position:absolute;
	left:-1px;
	top:0px;
	width:156px;
	height:155px;
}

#bunny-father-figure{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#bunny-mother-002{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#bunny-mother-001{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#atak-elkom{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#atak-nosorozcem{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#atak-dzieckiem-001{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

#atak-profesorem{
	position:absolute;
	left:0px;
	top:0px;
	width:155px;
	height:155px;
}

