#explosion08{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion07{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion06{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion05{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion04{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion03{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion02{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

#explosion01{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}


#Layer-1{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
}

